@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;

}
/* ---------navbar------------------ */
.top-navbar{
    background-color: rgb(40, 33, 56);
    color: white;
    font-size: 18px;
}
.fa-whatsapp{
    color: green;
}
.fa-envelope{
    color: red;
}
.top-navbar , span , i{
    padding: 8px;
}
.main-navbar{
    /* background-color: white; */
    color: grey;
    
}
.main-navbar  .logo{
    height: 50px;
    width: 50px;
}
.menu-items ul li{
    list-style-type: none;
    display: inline;
}
.menu-items ul li a{
    text-decoration: none;
}
